<div class="entity-imgs">
    <div class="banner">
        <input id="banner-input" type="file" accept="image/*" />
        <label for="banner-input" class="banner-label">
            <span class="iconify entity-photo me-2" data-icon="tabler:camera-plus"></span>
            Adicionar imagem de capa
        </label>
    </div>

    <div class="profile-pic">
        <label for="profile-input" class="profile-label">
            <span class="iconify entity-photo" data-icon="tabler:camera-plus"></span>
            <input id="profile-input" type="file" accept="image/*" />
        </label>
    </div>


</div>
